* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

/* Font Classes */

.robot_slab {
    font-family: 'Roboto Slab', serif;
}

/* Font Classes ends here */

/* Start of Heading  */

.site_name_header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    background-color: #2874f0;
}

.site_name_header_main_div {
    padding: 10px 0;
    width: 94%;
}

.site_name {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

/* End of Heading */

/* Start of Product Cards */

.product_cards_section {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.product_cards_section_main_div {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    gap: 30px;
    justify-content: center;
    box-sizing: border-box;
}

.product_cards_link {
    text-decoration: none;
}

.product_cards_section_inner_div {
    border: solid 1px #888888;
    border-radius: 4px;
    box-shadow: 10px 10px 5px #888888;
    transition: all 1s;
}

.product_cards_section_img {
    display: block;
    width: 100%;
}

.product_cards_section_title {
    width: 100%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.product_cards_section_title h2 {
    color: #2874f0;
}

.product_cards_section_inner_div:hover {
    transform: scale(1.05);
}

/* End of Product Cards */


/* Start of main div */

.outer_div {
    width: 70%;
    margin: 20px auto 0 auto;
}

/* End of main div */

/* Start of element div */

#outerContainer {
    width: 60%;
    margin: 0 auto;
}

.mainContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 10px;
    margin: 20px 0 20px;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
}

.imageContainer {
    text-align: center;
}

.productImage {
    width: 80%;
    height: 100%;
}

.contentContainer {
    box-sizing: border-box;
    margin: 10px;
}

.contentMargin {
    margin-bottom: 20px;
    text-transform: capitalize;
}

.view_more_btn {
    background-color: #2874f0;
    color: #fff;
    padding: 2px 4px;
    border: solid 1px #2874f0;
    border-radius: 2px;
    text-align: right;
}

.add_to_cart_btn_div{
    width: 100%;
    display: flex;
    justify-content: end;
}

.add_to_cart_btn {
    background-color: #fff;
    border: none;
    /* text-align: right; */
    z-index: 5;
    background-color: #2874f0;
    color: #fff;
    padding: 4px 8px;
    border: solid 1px #2874f0;
    border-radius: 2px;
    margin: 0 8px 8px 2%;
}

/* End of element div */

/* Start of Carousel Section */
.product_carousel{
    width: 100%;
    height: 80vh;
    position: relative;
    box-shadow: 0px 10px 5px #888888;
}
.carousel_pos_div{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.carousel_btn_div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    transition: all 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.carousel_left_btn{
    top: 47%;
    left: 5%;
}
.carousel_right_btn{
    top: 47%;
    right: 5%;
}
.carousel_btn_div:hover{
    background-color: #00000045;
}
.carousel_img_div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: 1s;
}
.carousel_img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.carousel_img_display{
    display: block;
}
/* End of Carousel Section */

/* Start of modal area */

.modal_body_div_scroll {
    overflow: hidden;
    height: 100vh;
}

.modal_back_color {
    width: 100%;
    height: 100vh;
    background-color: #000000dd;
    position: fixed;
    top: 0;
    left: 0;
}

.modal_content_div {
    width: 70%;
    background-color: #fff;
    position: fixed;
    top: 5%;
    left: 15%;
    overflow-y: scroll;
    height: 90vh;
}

.modal_inner_div {
    width: 100%;
    background-color: #fff;
}

.modal_cancel_button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    z-index: 5;
}

.modal_cancel_icon {
    width: 100%;
    height: 100%;
    font-size: 25px;
    color: #2874f0;
}

.inner_image_div {
    width: 25%;
    border: solid 1px;
    margin: 20px auto;
}

.inner_image {
    width: 100%;
}

.modal_heading {
    margin: 20px 2%;
}

/* End of modal are */



.main_div{
    width: 100%;
    height: 80vh;
    box-shadow: 0px 0px 3px grey;
    position: relative;
}
.slides{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Start of Offset Section */

.offset_main_div{
    position: fixed;
    top: 0;
    width: 24%;
    height: 100vh;
    left: 0;
    z-index: 10;
    background-color: white;
    transform: translateX(-100%);
    transition: 1s;
}
.offset_icon_div{
    width: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    border-right: solid 1px #fff;
    box-sizing: border-box;
}
.offset_welcome_div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.offset_user_div{
    width: 86%;
    border-bottom: solid 1px #2874f0;
    box-sizing: border-box;
    padding: 10px 0;
    display: flex;
    flex-wrap: nowrap;
}
.offset_user_heading{
    font-size: 24px;
    color: #2874f0;
    margin-left: 10px;
}
.offset_close_icon_div{
    width: 14%;
    border-bottom: solid 1px #2874f0;
    border-left: solid 1px #2874f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-sizing: border-box;
    color: #2874f0;
}
.offset_menu_div{
    width: 100%;
    padding: 10px 0;
    border-bottom: solid 1px #f5f5f5;
    display: flex;
    flex-wrap: nowrap;
}
.offset_menu_icon_div{
    font-size: 18px;
    margin-left: 20px;
}
.offset_menu_item{
    font-size: 18px;
    margin-left: 8px;
}
.offset_user_icon_div{
    font-size: 24px;
    color: #2874f0;
    margin-left: 20px;
}


/* End of Offset Section */

/* Start of Media Query */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .product_cards_section_main_div {
        width: 78%;
    }
    #outerContainer{
        width: 80%;
    }
    .product_carousel{
        height: 60vh;
    }
    .offset_main_div{
        width: 35%;
    }
    .offset_icon_div{
        width: 5%;
    }
    .site_name_header_main_div{
        width: 90%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .product_cards_section_main_div {
        width: 95%;
    }
    #outerContainer{
        width: 95%;
    }
    .product_carousel{
        height: 60vh;
    }
    .carousel_btn_div{
        width: 45px;
        height: 45px;
        font-size: 30px;
    }
    .offset_main_div{
        width: 42%;
    }
    .offset_icon_div{
        width: 7%;
    }
    .site_name_header_main_div{
        width: 86%;
    }
}

@media screen and (min-width: 300px) and (max-width: 425px) {
    .product_cards_section_main_div {
        width: 95%;
        grid-template-columns: repeat(1, 100%);
    }
    #outerContainer{
        width: 92%;
    }
    .mainContainer{
        grid-template-columns: 100%;
    }
    .imageContainer{
        margin-bottom: 20px;
    }
    .modal_content_div{
        width: 88%;
        left: 6%;
        /* overflow-y: scroll; */
    }
    .inner_image_div{
        width: 40%;
    }
    .product_carousel{
        height: 50vh;
    }
    .carousel_btn_div{
        width: 35px;
        height: 35px;
        font-size: 22px;
    }
    .offset_main_div{
        width: 88%;
    }
    .offset_icon_div{
        width: 12%;
    }
    .site_name_header_main_div{
        width: 78%;
    }
}

/* End of Media Query */